/**
 * The main style definitions for the Shenandoah Arts Council
 * website theme
 */

body {
    background: #d8d8d8;
}

.site-container {
    background: transparent;
}

.site-container, .site-inner, .wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.alignleft {
    margin-left: 0;
}

.alignright {
    margin-right: 0;
}

.content,
.sidebar-primary,
.sidebar-alt {
    padding: 40px;
}

.home .content {
    padding: 0;
}

h4.widget-title {
    color: #fff;
    font-size: 24px;
    font-size: 2.4rem;
}

.site-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8e8e8+100 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=0); /* IE6-9 */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 0 40px;
}

.site-header > .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    padding: 16px 0;
}

.site-header > .wrap .custom-logo-link {
    flex: 1 0 150px;
    max-width: 150px;
    padding: 16px 0;
    text-align: center;
    margin: 0 auto;
}

.site-header .widget-area {
    float: none;
    width: auto;
    flex: 1 0 80%;
}

.header-image .site-title > a,
.site-header > .wrap {
    background-repeat: no-repeat;
}

.site-header .widget-area .widget {
    display: inline-block;
}

.site-footer {
    background: #fff;
    margin: 0 auto 20px auto;
    border: none;
    border-top: 20px solid #cbcbcb;
    -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.site-footer .widget,
p.site-attribution {
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    color: #707070;
}

.site-footer .widget .menu li {
    display: inline-block;
    border-left: 1px solid #707070;
    padding: 0 8px;
}

.site-footer .widget .menu li:first-child {
    border-left: none;
}

p.site-attribution {
    margin-top: 24px;
}

.site-inner {
    padding-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
}

.sidebar-primary .widget {
    font-size: 14px;
    padding: 20px;
    margin: 0 0 40px;
    min-width: 30%;
    vertical-align: top;
    margin-top: 0;
    color: #fff;
    background: #9a5ba4;
}

.sidebar-primary .widget a {
    color: #fff;
}

.sidebar-primary .widget:nth-of-type(2n+1) {
    background: #929A4E;
}

.sidebar .entry-image,
.front-secondary .entry-image {
    border: 2px solid #fff;
}

.sidebar .um-user-tags-wdgt-item .tag {
    color: #9a5ba4;
}

.sidebar-primary .widget:nth-of-type(2n+1) .um-user-tags-wdgt-item .tag {
    color: #929A4E;
}

.widget #genesis-responsive-slider {
    border: none;
    padding: 0px;
    margin: 0 auto;
}

.flexslider .slides {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    list-style: none;
}

.flexslider .slide-excerpt {
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    margin: 0;
    padding: 0;
    background: #9a5ba4;
    opacity: 1;
}

.flexslider .slide-excerpt .slide-excerpt-border {
    border: none;
    color: #fff;
}

.flexslider .slide-excerpt a {
    color: #fff;
}

.flexslider .slide-excerpt .slide-excerpt-border p a {
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    background: #9a5ba4;
    color: #fff;
    padding: 4px 8px;
    font-weight: 400;
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    margin: 8px 0;
}

.flexslider .slide-excerpt .slide-excerpt-border p a:hover,
.flexslider .slide-excerpt .slide-excerpt-border p a:focus {
    background: #fff;
    color: #9a5ba4;
    border: 1px solid #9a5ba4;
}

.entry-content ol.flex-control-nav {
    margin-bottom: 0;
}

.entry-content ol.flex-control-nav > li,
ul.flex-direction-nav > li {
    list-style: none;
}

.front-secondary > .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    padding: 0;
}

.front-secondary > .wrap .widget {
    width: 33.3333%;
    flex: 1 0 250px;
    padding: 20px;
    margin: 20px;
    min-width: 300px;
    vertical-align: top;
    margin-bottom: 0;
    color: #fff;
    background: #9a5ba4;
}

.front-secondary > .wrap .widget .gm-style {
    color: #333;
}

.front-secondary > .wrap .widget:nth-of-type(2n) {
    background: #929A4E;
}

.front-secondary > .wrap .widget .widget-wrap {
    padding: 0;
}

.front-secondary a {
    color: #fff;
}

.front-secondary a:hover,
.front-secondary a:focus {
    color: #fff;
}

ul.sponsors-widget-content {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    list-style: none;
    justify-items: center;
}

ul.sponsors-widget-content > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.button,
.widget a.button,
li.button > a {
    font-size: 16px;
    font-size: 1.6rem;
    background: #9a5ba4;
    color: #fff;
    padding: 4px 8px;
    font-weight: 400;
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}

a.button:hover,
a.button:focus,
.widget a.button:hover,
.widget a.button:focus,
li.button > a:hover,
li.button > a:focus,
.entry-content a.button:hover,
.entry-content a.button:focus {
    border: 1px solid #9a5ba4;
    background: #fff;
    color: #9a5ba4;
}

.product a.woocommerce-loop-product__link {
    color: #707070;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none;
}

.product a.woocommerce-loop-product__link:hover h2,
.product a.woocommerce-loop-product__link:focus h2 {
    text-decoration: underline;
}

.product img.attachment-woocommerce_thumbnail {
    border-radius: 8px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #9a5ba4;
}

.woocommerce ul.products li.product .price {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #707070;
}

.tribe-events-pg-template {
    padding: 35px;
}

.entry-content ul.select2-selection__rendered > li {
    list-style: none;
}

.sidebar-primary .widget.widget_maxmegamenu {
    background: none;
    border: none;
    padding: 0;
}

.sidebar .widget_maxmegamenu li {
    margin: 0;
    padding: 0;
}

.sidebar .widget_maxmegamenu li a {
    background: #666;
    padding: 10px 10px;
    display: block;
    border: 1px solid #fff;
    border-collapse: collapse;
    margin-bottom: -1px;
    text-decoration: none;
}

.sidebar .widget_maxmegamenu li a:hover, .sidebar .widget_maxmegamenu li a:focus {
    background: #9a5ba4;
    outline: none;
}

@media all and (max-width: 1200px) {
    .flexslider .slide-excerpt {
        width: 25%;
        min-width: 350px;
    }
}

@media all and (max-width: 950px) {
    .flexslider .slide-excerpt {
        width: 100%;
        background: rgba(154,91,164,.7);
    }
}

@media all and (max-width: 640px) {
    .site-inner,
    .site-inner > .wrap {
        margin: 0;
        padding: 0;
    }

    .site-header > .wrap,
    .custom-logo,
    .site-header .widget-area {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }

    .site-header .widget-area {
        background: #DBDBDB;
        border-top: 5px solid #fff;
    }

    .site-header .widget-area .widget {
        display: block;
        padding: 0;
    }

    .site-header .widget-area .widget .mega-menu {
        padding: 20px;
    }

    .flexslider .slides > li {
        display: flex !important;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .flexslider .slide-excerpt,
    .flexslider .slide-image {
        position: static;
        display: block;
        width: 100%;
    }

    .flexslider .slide-excerpt {
        order: 2;
    }

    .flexslider .slide-excerpt p {
        display: none;
    }

    .front-secondary > .wrap .widget {
        margin: 20px 0;
    }

    a.button,
    .widget a.button,
    li.button > a {
        border: 1px solid #9a5ba4;
        background: #fff;
        color: #9a5ba4;
    }

    a.button:hover,
    a.button:focus,
    .widget a.button:hover,
    .widget a.button:focus,
    li.button > a:hover,
    li.button > a:focus {
        background: #9a5ba4;
        color: #fff;
        border: 1px solid #fff;
    }
}

/* Custom CSS loading spinner graphic */
/* HTML Structure:
    <div class="waiting"><div></div><div></div><div></div><div></div></div>
 */
.waiting {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.waiting div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: waiting 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.waiting div:nth-child(1) {
    animation-delay: -0.45s;
}
.waiting div:nth-child(2) {
    animation-delay: -0.3s;
}
.waiting div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes waiting {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
